<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Projeto Final Atos</mat-card-title>
      <mat-card-subtitle>Separação de Pedidos - Almoxarifado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home_projeto_hd.jpg" alt="Imagem Home Projeto Final">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema automatizado de separação de pedidos desenvolvido por mim no curso de Java da Atos em parceria com a UFN.<br />
      Esse é um sistema para gerenciamento de almoxarifado simulando um simples processo de logistica desenvolvido em Angular 12 e
      Spring Boot. <br />O sistema está rodando na nuvem sendo o front na Vercel e o back foi feito a tentativa na Heroku,
      porém foi solicitado um cartão de crédito e achei melhor subir somente o codigo para o GitHub.<br />
      O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização com
      Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu lateral. <br />
      Um agradecimento especial aos professores André, Dayvison e Cássio por todo o ensinamento
      <br /><br /> Fique a vontade para testar o sistema e deixar sua sugestão. 
      <br /> Atte: Marcklen Monteiro Guimarães
      </p>
    </mat-card-content>
  </mat-card>
  